
@{
    ViewBag.Title = "MusteriOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post" style="width:80%; margin:auto">

    <div>

        <div class="input-group mb-3">

            <span class="input-group-text">Müşteri Adı: </span>
            <input type="text" aria-label="Ad" class="form-control" name="MusteriAd">

        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Müşteri Adı: </span>
            <input type="text" aria-label="Soyad" class="form-control" name="MusteriSoyad">
        </div>

        <button class="btn btn-info">Müşteri Ekle</button>

    </div>

</form>