USE [StokipDB]
GO
/****** Object:  Table [dbo].[ALIS]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALIS](
	[AlisID] [smallint] IDENTITY(1,1) NOT NULL,
	[Urun] [smallint] NULL,
	[Adet] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ToplamFiyat] [decimal](18, 2) NULL,
	[AlisUser] [smallint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ALIS] PRIMARY KEY CLUSTERED 
(
	[AlisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KategoriID] [smallint] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](50) NULL,
	[KategoriUser] [smallint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_KATEGORI] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MusteriID] [smallint] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [varchar](50) NULL,
	[MusteriSoyad] [varchar](50) NULL,
	[MusteriUser] [smallint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS](
	[SatisID] [smallint] IDENTITY(1,1) NOT NULL,
	[Urun] [smallint] NULL,
	[Musteri] [smallint] NULL,
	[Adet] [int] NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ToplamFiyat] [decimal](18, 2) NULL,
	[SatisUser] [smallint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[UrunID] [smallint] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](50) NULL,
	[UrunKategori] [smallint] NULL,
	[Stok] [smallint] NULL,
	[UrunUser] [smallint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_URUN] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 23.05.2024 13:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [smallint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__USERS__1788CCACE373D493] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALIS]  WITH CHECK ADD  CONSTRAINT [FK_ALIS_URUN] FOREIGN KEY([Urun])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[ALIS] CHECK CONSTRAINT [FK_ALIS_URUN]
GO
ALTER TABLE [dbo].[ALIS]  WITH CHECK ADD  CONSTRAINT [FK_ALIS_USERS] FOREIGN KEY([AlisUser])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[ALIS] CHECK CONSTRAINT [FK_ALIS_USERS]
GO
ALTER TABLE [dbo].[KATEGORI]  WITH CHECK ADD  CONSTRAINT [FK_KATEGORI_USERS] FOREIGN KEY([KategoriUser])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[KATEGORI] CHECK CONSTRAINT [FK_KATEGORI_USERS]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_USERS] FOREIGN KEY([MusteriUser])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_USERS]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_MUSTERI] FOREIGN KEY([Musteri])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_MUSTERI]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_URUN] FOREIGN KEY([Urun])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_URUN]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_USERS] FOREIGN KEY([SatisUser])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_USERS]
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD  CONSTRAINT [FK_URUN_KATEGORI] FOREIGN KEY([UrunKategori])
REFERENCES [dbo].[KATEGORI] ([KategoriID])
GO
ALTER TABLE [dbo].[URUN] CHECK CONSTRAINT [FK_URUN_KATEGORI]
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD  CONSTRAINT [FK_URUN_USERS] FOREIGN KEY([UrunUser])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[URUN] CHECK CONSTRAINT [FK_URUN_USERS]
GO
