@using POStock.Models.Entity
@model List<URUN>
@{
    ViewBag.Title = "AlisOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post" style="width:80%; margin:auto">

    <div class="input-group mb-3">
        <span class="input-group-text">Ürün: </span>
        <select class="form-select" name="UrunNo">
            @foreach (var urun in Model)
            {
                if (urun.IsActive == true)
                {
                    <option value="@urun.UrunID">@urun.UrunAd</option>
                }
            }
        </select>
    </div>

    <div class="input-group mb-3">

        <span class="input-group-text">Adet: </span>
        <input type="number" class="form-control" name="Adet" />

    </div>

    <div class="input-group mb-3">

        <span class="input-group-text">Toplam Fiyat: </span>
        <input type="number" class="form-control" name="ToplamFiyat" />
        <span class="input-group-text">₺</span>

    </div>

    <div>

        <button class="btn btn-info">Alış Ekle</button>

    </div>

</form>