.pagination > li.active > a, .pagination > li.active > span {
    color: gold !important;
    background-color: indigo !important;
}

.pagination > li > a, .pagination > li > span {
    color: indigo !important;
    border-color: gold !important;
}

.nav-tabs .nav-link.active {
    color: goldenrod !important;
}

.btn-success {
    background-color: indigo !important;
    border-color: gold !important;
    color: gold !important;
}

.btn-outline-danger:hover {
    background-color: gold !important;
}

.btn-outline-danger {
    border-color: gold !important;
}

h3 {
    color: goldenrod;
    text-align: center;
}

.custom-alert {
    background-color: indigo;
    color: gold;
}

.nav-link.active i {
    color: indigo !important; 
}

.input-group-text {
    background-color: gold !important;
    color: indigo !important;
}

.custom-price {
    background-color: white !important;
    color: black !important;
}

.fa-dolly {
    color:indigo !important;
}

.fa-logoname {
    color:gold !important;
}

div {
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    font-size: 10px;
}