
@{
    ViewBag.Title = "KategoriOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post" style="width:80%; margin:auto">

    <div class="input-group">

        <span class="input-group-text">Kategori Adı: </span>
        <input type="text" class="form-control" name="KategoriAd"/>
        <button class="btn btn-success">Kategori Ekle</button>

    </div>

</form>